body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('./woman-taking-marinated-beef-served-with-onion-sumac-herbs.jpg')
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #4b0082; /* Azul Malbec */
}

/*Overlay for the background*/
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* 50% black */
  z-index: -1; /* This is to make sure that the overlay is behind the content */
}

header {
  background-color: #a52a2a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.logo {
  width: 100px;
  height: auto;
}

.nav-btn {
  background-color: #4b0082; /* Color de fondo de los botones */
  color: white; /* Color del texto */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Espaciado interior */
  margin-right: 10px; /* Margen derecho entre botones */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.nav-btn:hover {
  background-color: #6a5acd; /* Cambia el color de fondo al pasar el ratón */
}
.active {
  background-color: #ffd700;
}

#content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); /* Sombreado */
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  padding: 20px;
  width: 70%;
}

footer {
  background-color: #a52a2a; /* Rojo Carnes */
  color: #ffffff; /* Blanco Albóndiga */
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

footer a {
  color: #fff5e1; /* Crema Provoleta */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
